h1 {
    line-height: 0%;
    size: large;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

hr {
    width: 100%;
    border: 1px solid #cecece;
    border-top: 0px;
}

.info-button {
    width: calc(100% - 50px);
    text-align: center;
}

.canvas-container {
    position: relative;
}

canvas, .over-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* god, i have css.. thanks gpt! */
.over-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;          /* fill parent */
    z-index: 2;
    padding: 6px;
    display: flex;      /* enable flex centering */
    flex-direction: column;
    align-items: center;/* center children horizontally */
    width: 100%;        /* full width so centering works predictably */
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 225px 1fr 225px;
    gap: 7px;
    width: calc(100% - 400px);
    height: calc(100vh - 128px);
    margin: auto;
}

.name {
    padding: 7px;
    margin: -7px;
    width: 106.75%;
}

.left, .center, .right {
    border: 1px solid #cecece;
    padding: 7px;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
}
